/* Footer.css */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0px -3px 10px rgba(0, 0, 0, 0.1);
}

.socials {
  display: flex;
  gap: 10px;
}

.social-icon {
  font-size: 24px;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: #007bff;
}
